@import "variables";
@import "mixins";

.category {
  display: flex;

  &__select {
    background-color: $color-tertiary;
    color: $color-primary;
    border: none;
    border-radius: 5%;
    height: 4rem;
  }
}
