@import "variables";
@import "mixins";

.container {
  display: flex;
  flex-direction: column;
  width: 70%;
  border: 0.1rem solid $color-tertiary;
  margin: auto;

  &__navbar {
    display: flex;
    background-color: $color-primary;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 0.1rem solid $color-tertiary;

    &--header {
      color: $color-tertiary;
    }
  }
}
