@import "variables";
@import "mixins";

.container {
  display: flex;
  flex-direction: column;
  width: 70%;

  &__navbar {
    display: flex;
    background-color: $color-primary;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;

    &--header {
      color: $color-tertiary;
    }
  }
}
